Motorsazan.CMMS.Shared/Connected Services/AuthService/App.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="App" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://erp-server:2021/WebServices/App.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://erp-server:2021/WebServices/App.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://erp-server:2021/WebServices/App.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MotorsazanAA" />
      <xsd:import schemaLocation="http://erp-server:2021/WebServices/App.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Shared.WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApp_CreateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSession" />
  </wsdl:message>
  <wsdl:message name="IApp_CreateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IApp_GetUserInfoByJsonWebToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoByJsonWebToken" />
  </wsdl:message>
  <wsdl:message name="IApp_GetUserInfoByJsonWebToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoByJsonWebTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IApp_ReportUserLoginInfoByJsonWebToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportUserLoginInfoByJsonWebToken" />
  </wsdl:message>
  <wsdl:message name="IApp_ReportUserLoginInfoByJsonWebToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportUserLoginInfoByJsonWebTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IApp_ValidateSessionByJsonWebToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSessionByJsonWebToken" />
  </wsdl:message>
  <wsdl:message name="IApp_ValidateSessionByJsonWebToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSessionByJsonWebTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="IApp">
    <wsdl:operation name="CreateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IApp/CreateSession" message="tns:IApp_CreateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApp/CreateSessionResponse" message="tns:IApp_CreateSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByJsonWebToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IApp/GetUserInfoByJsonWebToken" message="tns:IApp_GetUserInfoByJsonWebToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApp/GetUserInfoByJsonWebTokenResponse" message="tns:IApp_GetUserInfoByJsonWebToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportUserLoginInfoByJsonWebToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IApp/ReportUserLoginInfoByJsonWebToken" message="tns:IApp_ReportUserLoginInfoByJsonWebToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApp/ReportUserLoginInfoByJsonWebTokenResponse" message="tns:IApp_ReportUserLoginInfoByJsonWebToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSessionByJsonWebToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IApp/ValidateSessionByJsonWebToken" message="tns:IApp_ValidateSessionByJsonWebToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApp/ValidateSessionByJsonWebTokenResponse" message="tns:IApp_ValidateSessionByJsonWebToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Soap" type="tns:IApp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSession">
      <soap:operation soapAction="http://tempuri.org/IApp/CreateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByJsonWebToken">
      <soap:operation soapAction="http://tempuri.org/IApp/GetUserInfoByJsonWebToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportUserLoginInfoByJsonWebToken">
      <soap:operation soapAction="http://tempuri.org/IApp/ReportUserLoginInfoByJsonWebToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSessionByJsonWebToken">
      <soap:operation soapAction="http://tempuri.org/IApp/ValidateSessionByJsonWebToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="App">
    <wsdl:port name="Soap" binding="tns:Soap">
      <soap:address location="http://erp-server:2021/WebServices/App.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>