Motorsazan.CMMS.Shared/Connected Services/AuthService/App2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserDepartmentList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDepartmentList" nillable="true" type="tns:UserDepartmentList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDepartmentList" nillable="true" type="tns:ArrayOfUserDepartmentList" />
  <xs:complexType name="UserDepartmentList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitCode" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDepartmentList" nillable="true" type="tns:UserDepartmentList" />
</xs:schema>